/*-----------------------------------------*/
/* Footer */
/*-----------------------------------------*/

.site-footer {
   background: rgba(0, 0, 0, 0.5);
   color: white;
   padding-bottom: $base-space-unit * 2;
   padding-top: $base-space-unit * 2;

   a:hover {
      color: lighten($brand-orange, 20%);
   }

   .copyright {
      border-bottom: $dark-grey-border;
      margin-bottom: $base-space-unit;

      .footer-logo {
         margin-bottom: $base-space-unit * 2;
         max-width: 300px;
      }
   }

   .social-links {
      ul {
         display: flex;

         li {
            margin-right: $base-space-unit / 2;
            max-width: 35px;
         }
      }
   }
}

@media screen and (min-width:600px) {
   .site-info {
         display: flex;
         justify-content: space-between;}
   .copyright {
         border-bottom: 0;
         border-right: $dark-grey-border;
         flex: 0 1 50%;
         margin-bottom: 0;
         padding-right: $base-space-unit;}
   .footer-logo {
         max-width: 200px;}
   .social-links {
         flex: 0 1 50%;
         padding-left: $base-space-unit;}
   
}

@media screen and (min-width:1080px) {
   .copyright {
      flex: 0 1 67%;
   }
   .footer-logo {
         max-width: 300px;
   }
   .social-links {
      flex: 33%;}

}